@model Publisher

@{
    ViewData["Title"] = "Delete Publisher";
}

<div class="row text">
    <div class="col-md-8 offset-2">
        <p>
            <h1>Delete @Model.Name</h1>
        </p>
        <div class="row">
            <div class="col-md-8 offset-2">
                <div class="form-group text-center">
                    <img id="PublisherImage" class="border-info rounded-circle" style="max-width: 150px" />
                </div>
                <div class="form-group">
                    <label asp-for="LogoURL" class="control-label"></label>
                    <input asp-for="LogoURL" class="form-control" readonly />

                </div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" readonly />

                </div>
                <div class="form-group">
                    <label asp-for="YearCreated" class="control-label"></label>
                    <input asp-for="YearCreated" class="form-control" readonly />

                </div>

                <div class="form-group">
                    <form asp-action="Delete">
                        <input type="hidden" asp-for="Id" />
                        <input type="submit" value="Delete" class="btn btn-danger float-right" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            var output = document.getElementById('PublisherImage');
            output.src = $("#LogoURL").val();
        })
        $("#LogoURL").on("change", function () {
            var output = document.getElementById('PublisherImage');
            output.src = $(this).val();
        })
    </script>
}