<div class="row">
    <div class="col-md-6 offset-3 alert alert-secondary text-center">
        <h2>Thank you for purchasing from Once Upon A Book!</h2>
        <hr />
        <p>Your order is placed, you shall receive it in 3 to 5 business days!</p>
        <p>Happy reading!</p>
    </div>
</div>